.footer {
  padding: 48px 48px;
  background-color: var(--chestnut-800);
  color: var(--chestnut-300);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 20px;
    user-select: none;
    font-weight: 500;
    color: var(--chestnut-300);
  }

  &__link {
    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-item {
      width: 32px;
      height: 32px;
      &-social-link {
        display: block;
        width: 100%;
        height: 100%;
        svg {
          path {
            transition: all 0.5s;
          }
        }

        &:hover svg path {
          fill: var(--chestnut-500);
        }
      }
    }
  }
}
