.header {
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
  }

  &__logo {
    font-size: 20px;
    user-select: none;
    font-weight: 500;
    color: var(--chestnut-800)
  }

  &__nav {
    &-list {
      display: flex;
      list-style: none;
      text-transform: uppercase;

      &-item {
        cursor: pointer;
        color: #fff;
      }

      &-link {
        color: #fff;
        padding: 6px 12px;
        color: var(--chestnut-800);
        transition: all 0.5s;

        &:hover {
          background-color: var(--chestnut-300);
        }
      }
    }
  }

  &__sub-nav {
    position: relative;
    

    &-item {
      position: absolute;
      display: none;
    }

    &:hover &-item {
      display: flex;
      flex-direction: column;
    }
  }
}
